	<div id="threeContainer" style="width:1024px; height:768px; color: 0xff0000">

	</div>

	<style type="text/css">
		
			#threeContainer{
				background: #24e;
			
			}
		</style>

	<script>
		
			

		var container;
		var camera, scene, controls, renderer, objects;

		var width = 1024;
		var height = 768;

		//init Scene
        init();
		animate();



		/*
			Load collada (dae) objects to Scene
				@param modelname : name of file without .dae extension
				@param scale: 0 - 1
				@param scene : the scene instance to add the collada object
				@param x, @param y, @param z : set positions

				@return
		*/

		function chichaCollada(modelname, scale, scene, x, y ,z) {
		    var loader = new THREE.ColladaLoader();
		    var localObject;
		    loader.options.convertUpAxis = true;
		    loader.load( 'model/'+modelname+'.dae', function colladaReady( collada ) {
		        localObject = collada.scene;
		        localObject.position.set(x, y , z);
		        localObject.scale.x = localObject.scale.y = localObject.scale.z = scale;
		        localObject.updateMatrix();

		        scene.add(localObject);
		    } );
		    
		}



		/*
			Init Scene
				
				@return
		*/
		function init() {

			container = document.createElement( 'div' );
			$('#threeContainer').append( container );

			//create Camera and set positions
			camera = new THREE.PerspectiveCamera( 90, width / height, 1, 2000 );
			camera.position.x = -10;
			camera.position.y = 4;
			camera.position.z = -6;

			//create an Scene
			scene = new THREE.Scene();


			controls = new THREE.FirstPersonControls(camera); 
			controls.movementSpeed = 10;			
			controls.lookVertical = true;
			controls.noZoom = true;
			controls.noPan = true;
			controls.dynamicDampingFactor = 0.3;
			controls.staticMoving = true;


			// controls = new THREE.TrackballControls( camera );
			// controls.rotateSpeed = 1.0;
			// controls.zoomSpeed = 1.2;
			// controls.panSpeed = 0.8;
			// controls.noZoom = false;
			// controls.noPan = false;
			// controls.staticMoving = true;
			// controls.dynamicDampingFactor = 0.3;



			//create floor
			var floorGeo = new THREE.CubeGeometry(14, 0.01, 15); 
			var material = new THREE.MeshBasicMaterial({color: 0x666666}); 
			var floor = new THREE.Mesh(floorGeo, material); 
			scene.add(floor);


			//add collada objects
			chichaCollada('receptiondesk_1', 0.05,scene, 0, 0, 0);
			chichaCollada('Tree_Bamboo2', 0.01,scene, 0, 0 , 2);
			chichaCollada('sofa', 0.02,scene, -6, 0 , -5);
		

			//add LIGHTS

			scene.add( new THREE.AmbientLight( 0xcccccc ) );

			var directionalLight = new THREE.DirectionalLight(/*Math.random() * 0xffffff*/0xeeeeee );
			directionalLight.position.x = Math.random() - 0.5;
			directionalLight.position.y = Math.random() - 0.5;
			directionalLight.position.z = Math.random() - 0.5;
			directionalLight.position.normalize();
			scene.add( directionalLight );


			//Render Scene
			renderer = new THREE.WebGLRenderer();
			renderer.setSize( width, height );

			container.appendChild( renderer.domElement );

		}


		/*
			animate function
				
				@return
		*/
		function animate() {
			requestAnimationFrame( animate );
			controls.update(60/1000);
			camera.position.y = 4;
			render();
		}

		/*
			Render Scene
				
				@return
		*/
		function render() {
			camera.lookAt( scene.position );
			renderer.render( scene, camera );
		}
		
	
	</script>