	<div id="threeContainer" style="width:1024px; height:768px; color: 0xff0000">

	</div>

	<video id="video1" poster="img/grass.jpg" autoplay loop muted style="display:none;" width="90" height="50">
			<source src="assets/video/video1.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' >
	</video>
	<video id="video2" poster="img/grass.jpg" autoplay loop style="display:none" width="90" height="50">
			<source src="assets/video/video2.mp4" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' >
	</video>

	<style type="text/css">
		
			#threeContainer{
				background: #24e;
			
			}
		</style>

	<script>
		
			

		var container;
		var camera, scene, controls, renderer, projector;


		var video1, texture1, imageContext1;
		var video2, texture2, imageContext2;

		var width = 1024;
		var height = 768;


		//init Scene
        init();
		animate();

		/*
			Load collada (dae) objects to Scene
				@param modelname : name of file without .dae extension
				@param scale: 0 - 1
				@param scene : the scene instance to add the collada object
				@param x, @param y, @param z : set positions
				@param rotateAngle 
				@return
		*/

		function chichaCollada(modelname, scale, scene, x, y ,z, rotateAngle) {
		    var loader = new THREE.ColladaLoader();
		    var localObject;
		    loader.options.convertUpAxis = true;
		    loader.load( 'model/'+modelname+'.dae', function colladaReady( collada ) {
		        localObject = collada.scene;
		        localObject.position.set(x, y , z);
		        localObject.scale.x = localObject.scale.y = localObject.scale.z = scale;
		        localObject.updateMatrix();

		        localObject.rotation.y = rotateAngle;

		        
		       

		        scene.add(localObject);
		    } );
		    
		}


		/*
			Add video to an Scene
				@param video : name of file without .dae extension
				@param texture: 0 - 1
				@param image
				@param scale
				@param scene : the scene instance to add the collada object
				@param x, @param y, @param z : set positions
				@param rotate 
				@param width, height 
				@return
		*/
		function addVideoToScene(video, texture, image, scale, scene, x, y, z, rotate, width, heigh) {
			

			var material = new THREE.MeshBasicMaterial( { map: texture, overdraw: true } );

			var plane = new THREE.PlaneGeometry( width, heigh, 4, 4 );

			mesh = new THREE.Mesh( plane, material );
			mesh.scale.x = mesh.scale.y = mesh.scale.z = scale;
			mesh.position.set( x, y, z );
			mesh.rotation.y = rotate;
			scene.add(mesh);
		}


		function addImageToScene(path, scene, scale, x, y, z, rotate, width, heigh) {
			
			//add images to scene
			var img = new THREE.MeshLambertMaterial( {map:THREE.ImageUtils.loadTexture(path)} );
        	img.map.needsUpdate = true; //ADDED
        	// plane
	        var plane = new THREE.Mesh(new THREE.PlaneGeometry(width, heigh),img);
	        plane.overdraw = true;
	        plane.scale.x = plane.scale.y = plane.scale.z = scale;
			plane.position.set( x, y, z );
			plane.rotation.y = rotate;
	        scene.add(plane);

		}

		/*
			Init Scene
				
				@return
		*/
		function init() {

			container = document.createElement( 'div' );
			$('#threeContainer').append( container );

			//create Camera and set positions
			camera = new THREE.PerspectiveCamera( 60, width / height, 1, 2000 );
			camera.position.x = -15;
			camera.position.y = 8;
			camera.position.z = -3.5;

			//create an Scene
			scene = new THREE.Scene();


			controls = new THREE.CustomKeyboardControls(camera); 
			controls.movementSpeed = 10;			
			controls.lookVertical = true;
			controls.noZoom = true;
			controls.noPan = true;
			controls.dynamicDampingFactor = 0.3;
			controls.staticMoving = true;



			//Load First Video
			video1 = document.getElementById( 'video1' );

			var image1 = document.createElement( 'canvas' );
			image1.width = 90;
			image1.height = 50;

			imageContext1 = image1.getContext( '2d' );
			imageContext1.fillStyle = '#000000';
			imageContext1.fillRect( 0, 0, 90, 50 );

			texture1 = new THREE.Texture( image1 );
			texture1.minFilter = THREE.LinearFilter;
			texture1.magFilter = THREE.LinearFilter;

			addVideoToScene(video1, texture1, image1, 0.051, scene, 0.55, 4.7, -7.35, 0, 90, 50);


			//Load Second Video
			video2 = document.getElementById( 'video2' );
			
			var image2 = document.createElement( 'canvas' );
			image2.width = 90;
			image2.height = 50;

			imageContext2 = image2.getContext( '2d' );
			imageContext2.fillStyle = '#000000';
			imageContext2.fillRect( 0, 0, 90, 50 )

			texture2 = new THREE.Texture( image2 );
			texture2.minFilter = THREE.LinearFilter;
			texture2.magFilter = THREE.LinearFilter;

			addVideoToScene(video2, texture2, image2, 0.051, scene, 6.9, 4.7, 4.5, -Math.PI / 2, 90, 50);


			//add image to scene
			addImageToScene('assets/img/banner1.jpg', scene, 0.051, 0, 4, 7.4, Math.PI, 100, 100);
			addImageToScene('assets/img/logo.jpg', scene, 0.035, 6.9, 4.7, -2.5, -Math.PI / 2, 115, 50);

			//create floor
			
			var imgTextureFloor = THREE.ImageUtils.loadTexture( "model/textures/floor.png" );
			imgTextureFloor.wrapS = imgTextureFloor.wrapT = THREE.RepeatWrapping;
			imgTextureFloor.repeat.set( 1, 1 );	
			imgTextureFloor.anisotropy = 2;

		    var floorGeo = new THREE.CubeGeometry(30, 0.01, 15); 
			var material = new THREE.MeshLambertMaterial( { map: imgTextureFloor } );

			var floor = new THREE.Mesh(floorGeo, material ); 
			scene.add(floor);

			//create roof

			var imgTextureRoof = THREE.ImageUtils.loadTexture( "model/textures/softGreyWall.png" );
			imgTextureRoof.wrapS = imgTextureRoof.wrapT = THREE.RepeatWrapping;
			imgTextureRoof.repeat.set( 1, 1 );	
			imgTextureRoof.anisotropy = 2;

			var roofGeo = new THREE.CubeGeometry(25, 0.01, 15); 
			var roofMaterial = new THREE.MeshLambertMaterial( { map: imgTextureRoof } );
			var roof = new THREE.Mesh(roofGeo, roofMaterial); 
			roof.position.set( 0, 8, 0 );
			scene.add(roof);



			var imgTextureWall = THREE.ImageUtils.loadTexture( "model/textures/greyWall.png" );
			imgTextureWall.wrapS = imgTextureWall.wrapT = THREE.RepeatWrapping;
			imgTextureWall.repeat.set( 1, 1 );	
			imgTextureWall.anisotropy = 2;

			//create bottom wall

			var wallGeo = new THREE.CubeGeometry(0.01, 8, 15); 
			var wallMaterial = new THREE.MeshLambertMaterial( { map: imgTextureWall } );
			var wall = new THREE.Mesh(wallGeo, wallMaterial); 
			wall.position.set( 7, 4, 0 );
			scene.add(wall);



			//create right wall
			var wallRightGeo = new THREE.CubeGeometry(0.01, 8, 25); 
			var wallRightMaterial = new THREE.MeshLambertMaterial( { map: imgTextureWall } );
			var wallRight = new THREE.Mesh(wallRightGeo, wallRightMaterial); 
			wallRight.position.set( 0, 4, 7.5 );
			wallRight.rotation.y = Math.PI / 2;
			scene.add(wallRight);

			//create left wall
			var wallLeftGeo = new THREE.CubeGeometry(0.01, 8, 25); 
			var wallLeftMaterial = new THREE.MeshLambertMaterial( { map: imgTextureWall } );
			var wallLeft = new THREE.Mesh(wallLeftGeo, wallLeftMaterial); 
			wallLeft.position.set( 0, 4, -7.5 );
			wallLeft.rotation.y = Math.PI / 2;
			scene.add(wallLeft);




			//add collada objects
			chichaCollada('receptiondesk_1', 0.05,scene, 2.5, 0, -2.3, - Math.PI / 2);
			chichaCollada('sofa', 0.025,scene, -7.4, 0 , -4, 0);
			chichaCollada('sofa', 0.025,scene, 1, 0 , 4, Math.PI );
			chichaCollada('tv', 0.04,scene, 7, 3 , 2, Math.PI  );
			chichaCollada('tv', 0.04,scene, -2, 3 , -7.5, -Math.PI / 2 );
			chichaCollada('table', 0.02,scene, -4, 0 , 2, 0 );
			chichaCollada('shelf', 0.04,scene, 4.4, 0 , -10, -Math.PI / 2  );



			//add LIGHTS
			scene.add( new THREE.AmbientLight( 0xcccccc ) );

			var directionalLight = new THREE.DirectionalLight(/*Math.random() * 0xffffff*/0xeeeeee );
			directionalLight.position.x = Math.random() - 0.5;
			directionalLight.position.y = Math.random() - 0.5;
			directionalLight.position.z = Math.random() - 0.5;
			directionalLight.position.normalize();
			//scene.add( directionalLight );


			//Render Scene
			renderer = new THREE.WebGLRenderer();
			renderer.setSize( width, height );

			container.appendChild( renderer.domElement );

			


		}


		/*
			animate function
				
				@return
		*/
		function animate() {
			requestAnimationFrame( animate );
			controls.update(60/1000);

			if (camera.position.y < 5.5){
				camera.position.y = 5.5;
			}
			if (camera.position.y > 6.5){
				camera.position.y = 6.5;
			}

			if (camera.position.x < -17){
				camera.position.x = -17;
			}
			if (camera.position.x > -15){
				camera.position.x = -15;
			}

			if (camera.position.z < -3.5){
				camera.position.z = -3.5;
			}
			if (camera.position.z > 3.5){
				camera.position.z = 3.5;
			}

			render();
		}

		/*
			Render Scene
				
				@return
		*/
		function render() {
			camera.lookAt( scene.position );



			if ( video1.readyState === video1.HAVE_ENOUGH_DATA ) {
				imageContext1.drawImage( video1, 0, 0 );
				if ( texture1 ) texture1.needsUpdate = true;

			}

			if ( video2.readyState === video2.HAVE_ENOUGH_DATA ) {
				imageContext2.drawImage( video2, 0, 0 );
				if ( texture2 ) texture2.needsUpdate = true;
			}


			renderer.render( scene, camera );
		}
		
	
	</script>